/* Reset some default styles */
body, h1, h2, h3, p, form, input {
    margin: 0;
    padding: 0;
}

/* Set body font and background */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Main container styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stars{
    color: gold;
    margin-left: 5px;
}

/* Popup styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.popup header {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

.your_input {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit_button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Style stars */
.rating_box {
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.rating_box header {
    font-size: 22px;
    color: #dadada;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.rating_box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.rating_box .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating_box .stars i.active {
    color: gold;
}
